<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057378791268-k5k5ub3n1bjicu0lu2dmkd4k5jn8usu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057378791268-k5k5ub3n1bjicu0lu2dmkd4k5jn8usu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057378791268-096or5jdsugqltohg6bpp3bdtglk806h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7C26-H8mv7ahxKwpDobZkXWcrK6GVQn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1057378791268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.placeofsalesrealestate</string>
	<key>PROJECT_ID</key>
	<string>placeofsales-realestate</string>
	<key>STORAGE_BUCKET</key>
	<string>placeofsales-realestate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057378791268:ios:0df0dcb87c13498bcbd471</string>
</dict>
</plist>